@page
@model ToyStoreWEB.Pages.ContactModel
@{
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]ChildrenToys</title>
	<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
</head>
<body>
	<h1>Контакты</h1>
	<h3>О нас</h3>
	<p>Мы источник качественных и разнообразных игрушек для детей всех возрастов. Мы стремимся предложить широкий ассортимент игрушек, от классических до инновационных, чтобы удовлетворить интересы и потребности каждого ребенка. Наша команда состоит из опытных и приветливых сотрудников, готовых помочь вам с выбором и ответить на все ваши вопросы.</p>
	<h3>Контактная информация</h3>
	<div>
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A122eee51b234ef638019eaa3bcc9c614f5f411faf01b6e728b2ee30f5a53dee7&amp;source=constructor" width="100%" height="300" frameborder="0"></iframe>
	</div>
	<ul>
		<li><strong>Телефон:</strong> +375 33 681-90-93</li>
		<li><strong>Email:</strong> kosik2295@gmail.com</li>
	</ul>
	<h3>Плюсы использования нашего сайта:</h3>
	<ul>
		<li>Широкий выбор игрушек</li>
		<li>Высокое качество и безопасность товаров</li>
		<li>Профессиональный и дружелюбный персонал</li>
		<li>Быстрая доставка</li>
		<li>Удобный и безопасный онлайн-опыт</li>
	</ul>
	<p>Мы всегда рады помочь вам и обеспечить вас лучшими игрушками для ваших детей. Свяжитесь с нами сегодня и сделайте покупку, которая принесет радость вашей семье!</p>
</body>
</html>
