@page
@model PrivacyModel
@{
}
<html>
<head>
	<title>@ViewData["Title"]ChildrenToys</title>
	<link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />
</head>
<body>
	<h1>Политика конфиденциальности</h1>
	<div >
		<h3>1. Сбор и использование информации</h3>
		<p>Мы собираем только необходимую информацию, связанную с покупками игрушек и обработкой заказов. Это включает имя, адрес, контактную информацию и данные о платеже. Мы не собираем личную информацию о детях без разрешения родителей или законного представителя.</p>

		<!-- Добавьте остальные пункты политики конфиденциальности здесь -->
		<h3>2. Безопасность данных</h3>
		<p>Мы принимаем все меры предосторожности для защиты ваших личных данных от несанкционированного доступа или утечек. Мы используем безопасные технологии и шифрование для защиты информации, передаваемой через наш сайт.</p>

		<h3>3. Использование файлов cookie</h3>
		<p>Мы можем использовать файлы cookie для улучшения функциональности сайта и предоставления персонализированного опыта покупки. Файлы cookie могут содержать информацию о вашем предпочтении и истории покупок. Вы можете отключить файлы cookie в настройках вашего браузера, однако это может повлиять на работу некоторых функций нашего сайта.</p>

		<h3>4. Раскрытие информации третьим лицам</h3>
		<p>Мы не раскрываем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, когда это необходимо для обработки заказов или в соответствии с действующим законодательством.</p>

		<h3>5. Ссылки на другие сайты</h3>
		<p>Наш сайт может содержать ссылки на другие веб-сайты, которые могут иметь собственные политики конфиденциальности. Мы не несем ответственности за контент или практики этих внешних сайтов, поэтому рекомендуем вам ознакомиться с их политикой конфиденциальности перед предоставлением им личной информации.</p>

		<h3>6. Изменения в политике конфиденциальности</h3>
		<p>Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. Любые изменения будут опубликованы на этой странице, и мы рекомендуем вам периодически проверять ее обновления.</p>

		<h3>7. Согласие с политикой конфиденциальности</h3>
		<p>Используя наш сайт, вы выражаете свое согласие с нашей политикой конфиденциальности.</p>

		<p>Если у вас возникли вопросы или требуется дополнительная информация, пожалуйста, свяжитесь с нами по указанным контактным данным.</p>
	</div>
</body>
</html>
